*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.covid-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 80px;
    padding: 25px !important;

      input {
          border-radius: 4px;
        //  border: .5px solid #cfd8dc;
          padding: 7px 10px;
          border: none;
          border-bottom: .5px solid #cfd8dc;
          outline: none;
      }
      label {
        margin-bottom: 5px;
      }
}

.accor-total {
    width: 100%;
    min-height: 100vh;

    .wrapper {
        width: 60%;
        margin: 0 auto;
        padding: 80px 0;
    }
}


.nav {
  width: 100%;
  height: 12vh;
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 26px;

      .navwrapper {

        display: flex;
        justify-content: space-evenly;
        width: 21%;

           a {
            color: yellow;
            text-decoration: none;
            font-size: 20px;
            margin: 0;
           }

      }

  
}

.create-form-total {
   padding: 20px 0;
//  background-color: rgba(0, 0, 255, 0.082);
  // background-color: #6c757d0d;
  

     .create-form {
        flex-direction: column;
        padding: 35px !important;
        height: fit-content;
        width: 530px;

           .buton-input-container {
                
               button {
                align-self: center;
               }
           }

        input {
            border-radius: 4px;
            margin: 50px 0;
        }
        .boton-finalizar {
          font-size: 18px;
          letter-spacing: 1px;
          font-weight: 700;
        }

     }
}
